{% extends "base.html" %}

{% block title %} Chumbawamba - {{title}} {% endblock %}

{% block body %}
    <h2> {{title}} </h2>
    <ol class="music-list">
        {% for song in songs %}
            <li> <a href="{{title}}/{{song}}"> {{song}} </a></li>
        {% endfor %}
    </ol>
{% endblock %}