{% extends "../base.html" %}

{% block title %} Chumbawamba {% endblock %}

{% block content %}
    <article class="column">
        <header>
            <h1> Chumbawamba </h1>
            <q> Beware the holy trinity - church and state and law </q>
        </header>
        {% block body %}
        {% endblock %}
    </article>
{% endblock %}