{% extends "base.html" %}

{% block body %}
    <h2> Albums </h2>
    <ol class="music-list">
        {% for title in album_titles %}
            <li> <a href="chumbawamba/{{title}}"> {{title}} </a></li>
        {% endfor %}
    </ol>
{% endblock %}