{% extends "base.html" %}

{% block title %} Chumbawamba - {{title}} {% endblock %}

{% block body %}
    <h2> {{title}} </h2>
    <video controls>
        <source src="/media/music/chumbawamba/{{album_title}}/{{title}}.mp4">
    </video>
{% endblock %}