/*
    Base styles
*/

* {
    background-color: black;
    color: white;
}

/* make document 100% size of view port */
html, body {
    height: 100%;
}

/* split viewport between header, main, and footer in a natural way */
body {
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    overflow: scroll;
}

video {
    display: block;
    width: 100%;
}

header, h1, h2, h3, h4, h5, h6  {
    text-align: center;
}

p {
    text-indent: 2em;
}

/*
    Body layout styles
*/

.column {
    margin-left: auto;
    margin-right: auto;
    max-width: 45em;
}

/*
    Primary header styles
*/
#primary-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    font-size: 1.5em;
}

#primary-header img {
    width: 0.75em;
}

#primary-header ul {
    display: flex;
    list-style: none;
    padding: 0;
}

#primary-header li {
    flex: 1;
}

/*
    Music page styles
*/
.music-list {
    list-style: none;
}