<!DOCTYPE html>
<html lang="en-CA">
    <head>
        <title> {% block title %} Pangolin Tech {% endblock %}</title>
        <meta charset="utf-8">
        <link rel="icon" href="/assets/icon.svg">
        <link rel="stylesheet" href="/assets/styles.css"/>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header id="primary-header">
            <nav aria-label="subdomains">
                <ul>
                    <li>
                        <img src="https://pei.pangolintech.ca/assets/icon.svg" alt="Map of PEI"/>
                        <a href="https://pei.pangolintech.ca"> Impact PEI </a>
                    </li>
                </ul>
            </nav>
            <nav aria-label="home">
                <ul>
                    <li>
                        <img src="/assets/icon.svg" alt="Maple Leaf"/>
                        <a href="/"> Home </a>
                    </li>
                </ul>
            </nav>
            <nav aria-label="pages">
                <ul>
                    <li> <a href="/philosophy"> Philosophy </a> </li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            Monika Trenholme
        </footer>
    </body>
</html>