{% extends "base.html" %}

{% block title %} {{status_code}} {% endblock %}

{% block content %}
    <article class="column">
        <h1> {{status_code}} </h1>
        {% if let Some(report) = info %}
            <p> {{report}} </p>
        {% endif %}
    </article>
{% endblock %}