{% extends "base.html" %}

{% block content %}
    <article class="column">
        <header>
            <h1> Pangolin Tech CA </h1>
            <a href="philosophy">
                Striving to be: Independent, Minimalistic, & Accessible
            </a>
        </header>
        <h2> Stuff </h2>
        <dl>
            <dt> <a href="music/chumbawamba"> Chumbawamba 🎵 </a> </dt>
            <dd> Music by the band <a href="https://en.wikipedia.org/wiki/Chumbawamba"> Chumbawamba </a> </dd>
        </dl>
    </article>
{% endblock %}