{% extends "base.html" %}

{% block title %} Philosophy {% endblock %}

{% block content %}
    <article class="column">
        <h1> Philosophy for a Better Web </h1>
        <section aria-labelledby="problem">
            <h2 id="problem"> The Problem </h2>
            <p>
            In the modern web there has been a dissent from simplicity. Where
            there were once solely hypertext has now been dephiled with
            horrendous blobs of client-side code. Web portable interactive
            experiences with rich graphics and the advent of WASM are great
            things, but why should they get in the way when the goal is a simple
            interactive text document. When you stray away from semantic and
            simple HTML you squander something great, a standard way to present
            and request multi-media content.
            </p>
        </section>
        <section aria-labelledby="js-dependency-hell">
            <h2 id="js-dependency-hell"> JS Dependency Hell </h2>
            <p>
            What we have seen from the evolution of JS front end frameworks is
            dependency hell. Left-pad's revokement took down sites built with
            JS frameworks like React, and dependency authors injected malware to
            bring harm to machines with Russian IP adresses. The fact is
            everyone wants to use JS but no one actually wants to write JS,
            it's a language with issue after issue, and legacy is
            impossible to maintain without pre-processors. The only clear
            conclusion to draw is that client-side scripting in it's current
            state is inherently broken.
            </p>
        </section>
        <section aria-labelledby="is-wasm-better">
            <h2 id="is-wasm-better"> Will WASM Save the Day? </h2>
            <p>
            Unfortunately WASM has inherited the issues of JS as it is required
            to initialise WASM modules and to interface with the DOM. Even if
            these issues are rectified there is still an inherent disconnect
            that exists when you use client-side code to manage the DOM. HTML
            is text, the composition of HTML in a modular and reusable way is
            thus a string substitution issue. Trying to dynamically modify the
            DOM, a virtualised tree form of HTML ad hoc, with a complex
            client-side framework, is like trying to hammer in a nail with a
            jackhammer. Managing HTML composition with a top down, front end
            framework just doesn't make a lot of sense.
            </p>
        </section>
        <section aria-labelledby="plain-html-css">
            <h2 id="plain-html-css"> Is Plain HTML & CSS Viable? </h2>
            <p>
            So far it sounds like advocation for returning to netscape, I'm
            aware. What needs to be realised is that a lot of what people use
            client-side code for can be achieved with HTML & CSS. HTML & CSS can
            achieve animations, show/hide, and other visual layout changes
            people may use scripting to provide. When it comes to submitting
            forms there is a HTML form request standard, allowing the creation
            of various forms with just HTML. (For the love of everything
            connected, sanitise user input on the back end, don't allow XSS code
            to sit in your database.) Unfortunately HTML does fall short
            however, as there is no built in way to partially reload a site.
            </p>
        </section>
        <section aria-labelledby="htmx">
            <h2 id="htmx"> HTMX Doesn't Fight HTML </h2>
            <p>
            HTMX is a JS front end framework, despite the slander of JS thus far
            it does align with a good web philosophy. HTMX is different because
            instead of trying to pull the composition of a website away from the
            underlying HTML, it instead embraces and extends it. HTMX allows for
            dynamic addition, removal, and rearranging of content via JS hooks
            it sets based on HTML attributes. It allows for pure HTML code to
            perform abritrary requests and substitute HTML in the client with
            HTML served from the server. It isn't a perfect solution, honestly
            what HTMX provides should probably be HTML spec, but it's about the
            best thing available.
            </p>
        </section>
        <section aria-labelledby="semantics-accessibility">
            <h2 id="semantics-accessibility"> Semantics & Accessibility </h2>
            <p>
            It's hard, but it's worth it. The current landscape of HTML
            semantics and assistive technologies is unfortunate, implementing
            good semantics and accessibility on even a simple site can be
            challenging. The HTML5 spec is vague and has largely reverted it's
            document outline algorithm since assistive technologies have not
            adopted it. This doesn't mean that you shouldn't at least try
            however, as semantic HTML can help with accessibility and the
            digestion of content by a plethora of 3rd party software.
            Implementing semantics and ARIA to your site helps move towards a
            truly neutral and libre web.
            </p>
        </section>
        <section aria-labelledby="conclusion">
            <h2 id="conclusion"> Conclusion </h2>
            <p>
            Simple and semantic HTML has many advantages. The user doesnt need
            to download a large code blob, your site will be more accessible,
            it can be digested by other software, and it respects the user. I
            will try to implement semantics and ARIA, it probably won't be
            perfect the first time, but I'll be content in knowing my site at
            least tries in a web of over engineering. If I come to the point
            where my site needs dynamic HTML content I will employ HTMX and ARIA
            attributes. This is a simple philosophy for a better web.
            </p>
        </section>
    </article>
{% endblock %}